.header{
    background-color: #000;

    border: rgb(43, 43, 175) 5px solid;
}

.header__inner{
    border: rgb(110, 89, 189) 5px solid;
    padding: 10px 10px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__logo{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.header-nav__link{
    color: #fff;
    text-decoration: none;
}